/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Shrikhand&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Disable horizontal slide */
html, body {
  overflow-x: hidden;
}

body {
  width: 100%;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: black;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms;
    animation-iteration-count: 1;
    transition-duration: 0.01ms;
    scroll-behavior: auto;
  }
}
/* Disable text highlight */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.isShrikhand, .logo {
  font-family: "Shrikhand", cursive;
}

.logo {
  font-size: 2.25em;
}

.title, .subtitle {
  font-size: 28px;
  font-weight: 900;
  white-space: normal;
  width: 90%;
  line-height: 32px;
  margin-bottom: 16px;
}
.title-isSBig {
  font-size: 1.5em;
}

.subtitle {
  font-size: 22px;
  font-weight: 300;
  line-height: 24px;
  width: 100%;
}

.process_text {
  display: flex;
  flex-direction: row;
  margin-left: 0.4em;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.container,
.footer {
  max-width: 100%;
  margin: 0 auto;
}

.header {
  position: relative;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header--noShadow {
  position: relative;
  box-shadow: none;
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header--noShadow i {
  font-size: 28px;
}

.block:not(:last-child) {
  margin-bottom: 1.5rem;
}

.btn, .btn--isGradient {
  border: none;
  padding: 1em 1.5em;
  border-radius: 32px;
  font-weight: 500;
  margin: 1em 0;
  box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.2);
}
.btn--isGradient {
  color: #fff;
  background-image: linear-gradient(#FF79DA, #9356DC);
}
.btn--isGradient:hover {
  background-image: linear-gradient(#ff46cc, #782cd3);
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.2);
}
.btn--isPrimary {
  color: #fff;
  background-color: #9356DC;
}
.btn--isSecondary {
  color: #fff;
  background-color: #FF79DA;
}
.btn_process {
  border: none;
  box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.2);
  background-color: #f6f6f6;
  border-radius: 24px;
  width: 90%;
  margin: 1em;
  padding: 1em 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
}
.btn_process:hover {
  background-color: #f2eafb;
}
.btn_process:hover i {
  color: #9356dc;
}
.btn_order {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}
.btn_order > button {
  padding: 1.5vh 12vw;
}

@keyframes slide-in {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
}
.delay-1 {
  animation-delay: 0.15s;
}

.delay-2 {
  animation-delay: 0.25s;
}

.delay-3 {
  animation-delay: 0.35s;
}

.delay-4 {
  animation-delay: 0.45s;
}

.delay-5 {
  animation-delay: 0.55s;
}

.delay-6 {
  animation-delay: 0.65s;
}

.delay-7 {
  animation-delay: 0.75s;
}

.delay-8 {
  animation-delay: 0.85s;
}

.delay-9 {
  animation-delay: 0.95s;
}

.animation {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.95);
  animation: loader 0.01s;
  animation-delay: 1.55s;
  animation-fill-mode: both;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
.loader {
  width: 150px;
  height: 150px;
}

svg {
  width: 90%;
  fill: none;
}

.load {
  transform-origin: 50% 50%;
  stroke-dasharray: 570;
  stroke-width: 20px;
}
.load.one {
  stroke: #99E2D0;
  animation: load 1.5s infinite;
}
.load.two {
  stroke: #FF79DA;
  animation: load 1.5s infinite;
  animation-delay: 0.1s;
}
.load.three {
  stroke: #9356DC;
  animation: load 1.5s infinite;
  animation-delay: 0.2s;
}

.point {
  animation: bounce 1s infinite ease-in-out;
}
.point.one {
  fill: #9356DC;
  animation-delay: 0s;
}
.point.two {
  fill: #FF79DA;
  animation-delay: 0.1s;
}
.point.three {
  fill: #99E2D0;
  animation-delay: 0.2s;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes load {
  0% {
    stroke-dashoffset: 570;
  }
  50% {
    stroke-dashoffset: 530;
  }
  100% {
    stroke-dashoffset: 570;
    transform: rotate(360deg);
  }
}
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  text-align: center;
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
}
.location > .icon {
  margin-right: 8px;
  font-weight: 400;
}

.hero {
  background: #f6f6f6;
  padding: 1.75em;
  text-align: center;
}
.hero_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroimg {
  width: 100%;
  object-fit: cover;
  max-height: 500px;
}
.heroimg img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.process {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.5em;
  text-align: left;
  width: 100%;
}
.process_content {
  margin: auto 8px;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 2.5rem 1.5rem;
}
.restaurants h1 {
  margin: 1em 0;
  text-align: left;
}

.cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.card {
  background-color: white;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
  transition: all 0.125s;
  box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.2);
  backface-visibility: hidden;
}
.card_img {
  height: 12rem;
  width: 100%;
  border: transparent solid 0px;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  object-fit: cover;
}
.card_badge {
  background-color: #99E2D0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}
.card_text {
  padding: 1rem;
  position: relative;
  display: flex;
}
.card_content {
  flex: 1;
  text-align: left;
}
.card_title {
  margin: 0;
  margin-bottom: 0.25rem;
}
.card_subtitle {
  margin: 0;
}
.card_btn {
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: transparent 0px solid;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card_like {
  background-color: white;
}
.card_like--bgGrey {
  background-color: #f6f6f6;
}
.card:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.menu {
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  position: relative;
  transition: all 0.25s;
}
.menu_header {
  padding: 1rem 2rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu_content {
  max-width: 100%;
  margin: 1rem;
}
.menu_btn {
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: transparent 0px solid;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: black;
}
.menu_btn:hover::before {
  opacity: 1;
  display: block;
  outline: none;
}
.menu_btn::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
}
.menu_like {
  transition-duration: 0.25s;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: lighten;
}
.menu_btn:hover .menu_like--noBg {
  opacity: 0;
}
.menu_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;
  font-size: 14px;
}
.menu_title {
  font-weight: normal;
  font-size: 18px;
  padding-bottom: 6px;
  position: relative;
  text-transform: uppercase;
}
.menu_title::after {
  background-color: #99E2D0;
  bottom: 0;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  width: 30px;
}
.menu_restaurant_title {
  font-weight: normal;
}
.menu_restaurant_content {
  display: flex;
  flex-direction: column;
}
.menu_card {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  backface-visibility: hidden;
  padding: 12px;
  margin: 1rem auto;
  cursor: pointer;
  max-width: 100%;
  overflow: hidden;
  animation: slide-in 1s forwards;
  opacity: 0;
}
.menu_card_text {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu_card_title {
  flex: 1;
  font-size: 16px;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu_card_description {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu_card_price {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-weight: 700;
}
.menu_card_confirmation {
  background-color: #99E2D0;
  margin: -1rem -7rem -1rem 1rem;
  width: 96px;
  display: flex;
  align-items: center;
  justify-content: start;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.menu_card:hover .menu_card_confirmation {
  margin-right: -2.1rem;
}
.menu_card_check-icon {
  margin-left: 1.5rem;
  height: 1.6rem;
  width: 1.6rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition: all 0.35s;
}
.menu_card:hover .menu_card_check-icon {
  transform: rotate(0);
}
.menu_card_icon {
  color: #99E2D0;
}

.footer {
  background-color: #353535;
  position: relative;
}
.footer_container {
  display: flex;
  flex-direction: column;
  padding: 3vh;
  text-align: left;
  margin-left: 1em;
}
.footer_title {
  color: white;
  font-family: "Shrikhand", "cursive";
  margin: 0;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.footer_text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-evenly;
}
.footer_text a {
  color: white;
}
.footer_text a i {
  margin-right: 8px;
}

.menu {
  margin-top: -3.5em;
}

.icon_process {
  display: flex;
  background: #9356DC;
  border-radius: 50%;
  padding: 18px;
  width: 9px;
  height: 9px;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  margin-right: 10px;
  margin-left: -28px;
}

.arrow {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
}

@media (min-width: 768px) and (max-width: 991px) {
  .heroimg {
    background-color: #99E2D0;
    padding: 16px 0;
  }

  .menu {
    margin: 0px;
    border-radius: 0;
    padding: 16px;
  }
}
@media only screen and (min-width: 992px) {
  .process_content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .process_element {
    width: 80%;
  }

  .process > h2,
.restaurants > h2 {
    margin: 2vh 9.5vw;
  }

  .process_content {
    margin: 2vh 10vw;
  }

  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cards > .card {
    flex: 0 40%;
    width: 100%;
  }

  .card > img {
    height: 250px;
  }

  .footer_container {
    text-align: center;
  }

  .footer_text {
    flex-direction: row;
  }

  .heroimg {
    background-color: #99E2D0;
    padding: 16px 0;
  }

  .menu {
    margin: 0px;
    border-radius: 0;
    padding: 16px;
  }
  .menu_header {
    margin: 16px 60px;
  }
  .menu_restaurant_content {
    margin: 0 16px;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }
  .menu_card {
    width: 28vw;
  }
}
@keyframes slide-in {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
}
.delay-1 {
  animation-delay: 0.15s;
}

.delay-2 {
  animation-delay: 0.25s;
}

.delay-3 {
  animation-delay: 0.35s;
}

.delay-4 {
  animation-delay: 0.45s;
}

.delay-5 {
  animation-delay: 0.55s;
}

.delay-6 {
  animation-delay: 0.65s;
}

.delay-7 {
  animation-delay: 0.75s;
}

.delay-8 {
  animation-delay: 0.85s;
}

.delay-9 {
  animation-delay: 0.95s;
}

.animation {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.95);
  animation: loader 0.01s;
  animation-delay: 1.55s;
  animation-fill-mode: both;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
.loader {
  width: 150px;
  height: 150px;
}

svg {
  width: 90%;
  fill: none;
}

.load {
  transform-origin: 50% 50%;
  stroke-dasharray: 570;
  stroke-width: 20px;
}
.load.one {
  stroke: #99E2D0;
  animation: load 1.5s infinite;
}
.load.two {
  stroke: #FF79DA;
  animation: load 1.5s infinite;
  animation-delay: 0.1s;
}
.load.three {
  stroke: #9356DC;
  animation: load 1.5s infinite;
  animation-delay: 0.2s;
}

.point {
  animation: bounce 1s infinite ease-in-out;
}
.point.one {
  fill: #9356DC;
  animation-delay: 0s;
}
.point.two {
  fill: #FF79DA;
  animation-delay: 0.1s;
}
.point.three {
  fill: #99E2D0;
  animation-delay: 0.2s;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes load {
  0% {
    stroke-dashoffset: 570;
  }
  50% {
    stroke-dashoffset: 530;
  }
  100% {
    stroke-dashoffset: 570;
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=index.css.map */
