@use "../utils/colors";

@keyframes slide-in {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
}

.delay-1 {
  animation-delay: 0.15s;
}
.delay-2 {
  animation-delay: 0.25s;
}
.delay-3 {
  animation-delay: 0.35s;
}
.delay-4 {
  animation-delay: 0.45s;
}
.delay-5 {
  animation-delay: 0.55s;
}
.delay-6 {
  animation-delay: 0.65s;
}
.delay-7 {
  animation-delay: 0.75s;
}
.delay-8 {
  animation-delay: 0.85s;
}
.delay-9 {
  animation-delay: 0.95s;
}

.animation {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: hsla(0, 0%, 100%, 0.9);
  animation: loader 0.01s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
} 

.loader {
  width: 150px;
  height: 150px;
}
svg {
  width: 90%;
  fill: none;
}

.load {
  transform-origin: 50% 50%;
  stroke-dasharray: 570;
  stroke-width: 20px;
  &.one {
    stroke: colors.$tertiary;
    animation: load 1.5s infinite;
  }
  &.two {
    stroke: colors.$secondary;
    animation: load 1.5s infinite;
    animation-delay: 0.1s;
  }
  &.three {
    stroke: colors.$primary;
    animation: load 1.5s infinite;
    animation-delay: 0.2s;
  }
}

.point {
  animation: bounce 1s infinite ease-in-out;
  &.one {
    fill: colors.$primary;
    animation-delay: 0s;
  }
  &.two {
    fill: colors.$secondary;
    animation-delay: 0.1s;
  }
  &.three {
    fill: colors.$tertiary;
    animation-delay: 0.2s;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes load {
  0% {
    stroke-dashoffset: 570;
  }
  50% {
    stroke-dashoffset: 530;
  }
  100% {
    stroke-dashoffset: 570;
    transform: rotate(360deg);
  }
}
