@use "../utils/colors";

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .process {
    &_content {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }

    &_element {
      width: 80%;
    }
  }

  .process > h1,
  .restaurants > h1 {
    margin: 2vh 9.5vw;
  }

  .process_content {
    margin: 2vh 18vw;
  }

  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    > .card {
      flex: 0 40%;
      width: 100%;
    }
  }

  .card > img {
    height: 300px;
  }

  .footer_container {
    text-align: center;
  }

  .footer_text {
    flex-direction: row;
  }

  .heroimg {
    background-color: colors.$tertiary;
    padding: 16px 0;
  }

  .menu {
    margin: 0px;
    border-radius: 0;
    padding: 16px;
    
    &_header {
      margin: 16px 60px;
    }

    &_restaurant_content {
      flex-direction: row;
      justify-content: center;
      gap: 150px;
    }

    &_card {
      width: 450px;
    }
  }
}
